<section class="dh-relative sm-bg" auto-height>
<div class="container dh-absulate middle ">
  <div class="row">
    <div class="col-md-12">
      <div class="dh-absulate middle">
        <div class="coming-soon-box text-center">
          <img src="frontend/img/dharma-lg.png" alt="" class="img-responsive">
          <div class="cm-text">
            <h2 class="margin0">THIS SITE IS CURRENTLY</h2>
            <h2 class="margin0">UNDER CONSTRUCTION.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
