<section>
    <div class="banner dh-relative">
        <img src="frontend/img/privacy.jpg" alt="Dharma Productions" class="img-responsive">
        <div class="banner-title text-center dh-absulate middle">
            <h1 class="color-white font-hammersmith f120 margin0">DISCLAIMER</h1>
        </div>
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
        <div class="data-abt mt30">
          <p>
            Dharma Productions Pvt. Ltd. is pleased that you are visiting this site and we are pleased to provide the information on this server. However, we need to advise you, of some legal limitations and restrictions that we impose to all visitors to this and related sites. We ask that you respect the rules described below:
          </p>
          <p>
            You may print copies of the information on this site for your personal use and store the files on your computer for personal use. You may not distribute text or graphics to others without the express written consent of Dharma Productions Pvt. Ltd. Also, you may not, without our permission, copy and distribute this information on any other server, or modify or reuse text or graphics on this or any another system.
          </p>
          <p>
          No reproduction of any part of the site may be sold or distributed for commercial gain, nor shall it be modified or incorporated in any other work, publication or site, whether in hard copy or electronic format, including postings to any other site.
          </p>
          <p>
            The information on this site has been included in good faith and is for general purposes only. It should not be relied upon for any specific purpose and no representation or warranty is given as regards its accuracy or completeness.
          </p>
          <p>
            Dharma Productions Pvt. Ltd. retains copyright on all the text, graphics and trademarks displayed on this site. All the text, graphics and trademarks displayed on this site are owned by Dharma Productions Pvt. Ltd.
          </p>
        </div>
        <div class="data-abt mt30 pb30">
         <h5>
           <strong>
              DISCLAIMER FOR CASTING/ RECRUITMENT
           </strong>
         </h5>
          <p>
           Dharma states that it does not associate with any agent, agency or any other person(s) for the same without an appropriate legal agreement authorizing them to act on it’s behalf.
          </p>
          <p>
            Dharma does not indulge in making monetary requests from any candidate(s) for the purpose of recruitment and/or casting such candidate(s) whether through authorised agents or otherwise.
          </p>
          <p>
            If at any stage of recruitment and/or casting any monetary request is made to the candidate, Dharma strictly advises the candidate to ignore such request or initiate appropriate legal proceedings as may be advised in law in this regard.
          </p>
          <p>
            Dharma shall not be held responsible for any such fraudulent email/phone call/message asking the candidate for any monies, their bank account or credit card details for an audition and/or employment opportunity with Dharma and the same shall be dealt with by the candidate entirely at its own risk, cost and expense.
          </p>
          <p>
            We at Dharma Productions Private Limited (“Dharma”) follow strict policies and procedures with respect to recruitment and casting.
          </p>
        </div>
    </div>
  </div>
</section>
