<section>
  <!-- <div class="main-fan">
<div class="dh-absulate middle">
  <div class="container">
    <div class="row">
      <div class="banner-title text-center">
          <h1 class="color-white font-hammersmith f120 margin0">RAPID FIRE WITH DHARMA</h1>
      </div>
      <div class="text-center f18 color-white mob-font-10 mob-web-font-10 ">
        <p class="margin0">Will you make it to the end – without the hero dying?</p>

      </div>
      <div class="change-sc">
  <h4 class="color-primary font-bold">TODAYS CONTEST: HOW WELL DO YOU KNOW SRK?</h4>
      </div>
    </div>
  </div>
</div>
  </div> -->
  <div class="top-banner dh-relative">
    <div class="">
      <img src="frontend/img/main-fan.jpg" alt="" class="img-responsive width100" auto-heightfixed>
      <div class="dharma-word dh-absulate middle mob-mt-20 m-zero" >
        <div class="banner-title text-center lin-min-ht">
            <h1 class="color-white font-hammersmith f120 margin0">RAPID FIRE</h1>
            <h1 class="color-white font-hammersmith f120 margin0">WITH DHARMA</h1>
        </div>
        <div class="text-center f18 color-white mob-font-10 mob-web-font-10 pt20">
          <p class="margin0">Will you make it to the end – without the hero dying?</p>
          <div class="change-sc pt40">
        <h2 class="color-primary font-bold">TODAYS CONTEST: HOW WELL DO YOU KNOW SRK?</h2>
        <div class="big-pl text-center mt15">
          <a href=""><img src="frontend/img/big-play.png" alt="Dharma Production"></a>
        </div>
          </div>

        </div>
      </div>
    </div>
<!-- <div class="hidden-md hidden-lg hidden-sm">
  <img src="frontend/img/dharma-world2.jpg" alt="Dharma Production" class="img-responsive">
</div> -->
  </div>
</section>
