<section>
    <div class="top-banner dh-relative">
        <div class="">
            <img src="frontend/img/main-fan.jpg" alt="" class="img-responsive width100" auto-heightfixed>
            <div class="dharma-word dh-absulate middle mob-mt-20 m-zero">
              <div class="container">
                <div class="banner-title text-center lin-min-ht ">
                    <h1 class="color-white font-hammersmith f120 margin0">RAPID FIRE</h1>
                    <h1 class="color-white font-hammersmith f120 margin0">WITH DHARMA</h1>
                </div>
                <!-- <div class="hide-first">
  <div class="text-center f18 color-white mob-font-10 mob-web-font-10 pt20">
    <p class="margin0">Will you make it to the end – without the hero dying?</p>
    <div class="change-sc pt40">
  <h2 class="color-primary font-bold text-center">TODAYS CONTEST: HOW WELL DO YOU KNOW SRK?</h2>
  <div class="big-pl text-center mt15">
    <a href=""><img src="frontend/img/big-play.png" alt="Dharma Production"></a>
  </div>
    </div>

  </div>
</div> -->
                <div class="hide-sec">
                    <div class="change-sc pt40 ">
                        <h2 class="color-primary font-bold text-center">TODAYS CONTEST: HOW WELL DO YOU KNOW SRK?</h2>
                        <div class="big-pl text-center mt15">
                            <div class="bg-transparent">
                                <div class="ticker float-right">
                                    <img src="frontend/img/ticker.png" alt="Dharma Productions">
                                </div>
                                <div class="padall30">
                                <div class="qsn-big">
                                    <h2 class="color-white font-bold font-karla">Q1: What was SRK’s name in Kal Ho Na Ho?</h2>
                                </div>
                                <div class="ans-opt">
                                    <div class="form">
                                        <ul>
                                            <li>
                                                <input type="radio" id="t-option" name="selector">
                                                <label for="t-option">Aman</label>

                                                <div class="check">
                                                    <div class="inside"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <input type="radio" id="t-option2" name="selector">
                                                <label for="t-option2">Raman</label>

                                                <div class="check">
                                                    <div class="inside"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <input type="radio" id="t-option3" name="selector">
                                                <label for="t-option3">Jaman</label>

                                                <div class="check">
                                                    <div class="inside"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <input type="radio" id="t-option4" name="selector">
                                                <label for="t-option4">Daman</label>

                                                <div class="check">
                                                    <div class="inside"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-n-s mt30">
                                      <div class="btn-view-more mt15 ">
                                          <a ui-sref="movies" class="btn-1 font-hammersmith btn color-primary mobile-center">
                                              <svg>
                                                  <rect x="0" y="0" fill="none" width="100%" height="100%" />
                                              </svg>
                                            NEXT
                                          </a>
                                          <!-- <button type="button" name="button" class="btn-primary-outline font-hammersmith btn-enter"></button> -->
                                      </div>
                                      <div class="btn-view-more mt15 ">
                                          <a ui-sref="movies" class="btn-1 font-hammersmith btn color-primary mobile-center">
                                              <svg>
                                                  <rect x="0" y="0" fill="none" width="100%" height="100%" />
                                              </svg>
                                            SKIP
                                          </a>
                                          <!-- <button type="button" name="button" class="btn-primary-outline font-hammersmith btn-enter"></button> -->
                                      </div>
                                    </div>

                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>
</section>
