<div class="fan-bg insta-bg padder-up">
    <div class="container">

        <div class="dharma-insta">
            <div class="text-center white-color">
                <h1 class="super-big font-hammersmith">FAN CORNER</h1>
                <p class="descriptive">With Dharma, you’re always entertained. Enter the fan-corner and play some games! </p>
            </div>
           <!-- <div class="fb-btn mt15 zoom-m text-center">
              <button type="button" name="button" class="color-white"><i class="fa fa-facebook"></i>Connect With Facebook</button>
            </div> -->
        </div>

    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
      <div class="pad-img">
        <div class="main-gb">
        <a ui-sref="fan-corner">  <img src="frontend/img/fan-main.jpg" alt="Dharma Production" class="img-responsive width100"></a>
        </div>
        <div class="main-gb">
      <a ui-sref="dictionary">    <img src="frontend/img/fan-main2.jpg" alt="Dharma Production" class="img-responsive width100"></a>
        </div>
      </div>
        </div>
      </div>
    </div>
</div>
