<section>
    <div class="abt-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="head-title text-center top-pad-abt">
                        <h1 class="color-white f120 text-up font-hammersmith">about us</h1>
                    </div>
                </div>

            </div>
            <div class="row">
              <div class="col-md-12">


                <div class="main-about-sec">
                    <div class="movie-inside-curve" id="top-scroll"></div>

                    <div class="movie-inner-bg">
                        <div class="m-min-tp">
                            <div class="text-center pt20">
                                <h1 class="color-primary font-bold text-up margin0">Heart-warming storylines...</h1>
                                <h1 class="color-primary font-bold text-up margin0">Stellar megastar casts...</h1>
                                <h1 class="color-primary font-bold text-up margin0">Record box-office collections...</h1>
                            </div>
                            <div class="data-abt mt20 movie-inside-date pb30">
                            <p>Dharma Productions is a leading Indian Film Production and Distribution company. Owned by Karan Johar, the company was founded by his father Late Shri Yash Johar in 1976, with its first production venture titled ‘Dostana’ starring Amitabh Bachchan. Since Karan Johar’s directorial debut film ‘Kuch Kuch Hota Hai’, the company has gone on to produce more than 30 films which include a series of blockbusters and critically acclaimed films like “My Name is Khan, K3G,<br> Yeh Jawaani Hai Deewani, Angneepath and 2 States. In its recent past, Dharma Productions has earned a name in the industry for encouraging and launching a fresh talent pool of directors, together with rising stars such as Alia Bhatt, Sidharth Malhotra and Varun Dhawan. This year, the company produced the critically acclaimed
                            ‘Kapoor &amp; Sons’ and the commercially hit film Ae Dil Hai Mushkil. Some of the most keenly awaited films of the year sitting in its roster are ‘Ok Jaanu’ and “Badrinath Ki Dulhania”. Today, Dharma Productions is the most sought after production house in the country and is constantly aiming at creating new benchmarks in the Indian Film Industry.
                            </p>
                            </div>
                            <div class="karan-img dh-relative pb30">
                                <img src="frontend/img/m1.jpg" alt="Dharma Productions" class="img-responsive">
                                <div class="movie-inside-date top-min">
                                    <div class="mn-org">
                                        <div class="text-center">
                                            <h1 class="margin0 font-bold color-white">KARAN JOHAR</h1>
                                            <h4 class="margin0 font-bold color-white text-up">many hats, one head.</h4>


                                        </div>
                                        <p class="color-white f18 mt15 f14-min">Producer, Director &amp; Talk show host, Karan Johar is one of the most notable Indian Filmmakers, who brought a fresh &amp; modern outlook to Indian Commercial Cinema.</p>
                                    </div>
                                    <p class="mt20">
                                        Karan Johar made his directorial debut at age 25 with a path-breaking love story 'Kuch Kuch Hota Hai'. The film remains a landmark in Indian Cinema for the appreciation it received, both critically and commercially, in India as well as the world. Following
                                        this, over the last 15 years, he has directed and written critically and commercially acclaimed blockbusters like Kabhi Khushi Kabhie Gham,
                                        Kabhi Alvida Naa Kehna and My Name Is Khan.
                                    </p>
                                    <p>
                                        The multi-faceted Karan wears many caps with ease. Besides being an acclaimed director and one of the most influential men in the industry today, Karan is also a television personality, a talk show host, a costume designer and the latest feather in his
                                        cap is that of being an actor. His talk show Koffee With Karan has the distinction of being the most watched English talk show on Indian television.
                                    </p>
                                    <p>
                                        In addition to personal success and accomplishment, Karan Johar has also been a mentor to many successful directors in India. Directors have flourished under his guidance and support as a producer, releasing both commercial blockbusters like Agneepath,
                                        Dostana and Yeh Jawaani Hai Deewani, as well as critical indie successes like Wake Up Sid and Ek Main Aur Ekk Tu.
                                    </p>
                                    <p>
                                        The name Karan Johar is synonymous with prestige, elegance, versatility and success. He is amongst a prolific group of Indian film makers who have brought about a fresh and modern outlook to Indian commercial cinema and has contributed greatly to the
                                        transformation of Hindi cinema from his very first film.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                  </div>
            </div>
        </div>
    </div>
</section>
