<div class="white-orange-bg" ng-controller="HomeCtrl">
    <div class="closure" ng-click="$dismiss()"><i class="fa fa-close"></i></div>
    <div class="modal-content-inside">
    <form name="formName" ng-submit="subscribe10(subscribe.email,formName)">
        <div class="row">
            <div class="col-md-12">
            <div class="pad-box-pop">
              <div class="tit text-center">
                <h4 class="color-white text-up font-bold margin0 font-bold">Stay updated with all things</h4>
                <h4 class="color-white text-up font-bold margin0 font-bold">#DHARMA subcribe now!</h4>
              </div>
              <div class="row">
                  <div class="col-md-offset-1 col-md-10">
                <div class="input-group" ng-hide="subscribeSuccess">
                    <input type="email" class="form-control h43" placeholder="Enter your email-id" ng-model="subscribe.email" required>
                    <div class="error-msg" ng-show="formName.email.$invalid && formName.email.$touched">Enter your email-id</div>
                    <span class="input-group-btn go-btn go-sb">
                        <button class="font-hammersmith font-bold" type="submit">GO</button>
                        </span>
                  <div ng-messages="subForm.email.$error" ng-messages-include="error-messages"></div>
            </div>
              <div class="color-white" ng-if="checkEmail">Email Id Already Exist.</div>
                  </div>
              </div>
            <!-- <div class="brand-primary text-upper text-center" ng-if="subscribeSuccess">
              <h3 class="font-hammersmith color-primary text-up">Thank you for subscribe.

              </h3>

            </div> -->
            </div>
        </div>
        </div>
    </form>
    <!--<div class="logos-popup">
    <div class="logos-popup-right pull-right">
        <img src="frontend/img/pop-up-logos-right.png" alt="">
    </div>
    <div class="logos-popup-left">
       <img src="frontend/img/pop-up-logos-left.png" alt="">
    </div>
    </div>-->
    </div>
<!--<div class="term-cond">
    <div class="term-cont-cont">
        <h4 class="head color-primary text-upper font-bold">Terms &amp; Conditions </h4>
        <ul class="list-unstyled">
            <li>- Offer valid on <span class="color-primary">Baahubali 1</span> tickets booked for <span class="color-primary">7th-17th April.</span></li>
            <li>- Offer valid FCFS, for hindi language only.</li>
            <li>- Offer not valid in Andhra Pradesh, Karnataka, Tamil Nadu, Telangana &amp; Kerala.</li>
            <li>- Offer valid in select cinemas. </li>
            <li>- Tickets available only when advance bookings open, for both the films.</li>
        </ul>
    </div>
    <div class="img-right pull-right">
        <img src="frontend/img/pop-up2.png" alt="Bhaubali">
    </div>
</div>-->
</div>
