<div class="white-orange-bg">
  <div class="closure" ng-click="$dismiss()"><i class="fa fa-close"></i></div>
<div class="text-center h3-main">
  <h2 class="text-up color-primary margin0 font-bold">SHARE YOUR SCORE WITH</h2>
<div class="dh-list sh-link">
  <ul class="padding0 text-center mt20">
      <li>
          <a ng-href="https://www.facebook.com/sharer/sharer.php?u={{myUrl|urlEncode}}" target="_blank"><img src="frontend/img/fb-mini.png" alt="Dharma Productions"></a>
      </li>
      <li>
          <a ng-href="https://twitter.com/intent/tweet?url={{myUrl|urlEncode}}" target="_blank"><img src="frontend/img/twitter.png" alt="Dharma Productions"></a>
      </li>
      <li>
          <a ng-href="https://plus.google.com/share?url={{myUrl|urlEncode}}" target="_blank"><img src="frontend/img/google-mini.png"  alt="Dharma Productions"></a>
      </li>
  </ul>
  <!-- <ul class="padding0 text-center mt20">
    <li>
      <a href=""><img src="frontend/img/fb-mini.png" alt="Dharma Productions"></a>
    </li>
    <li>
      <a href=""><img src="frontend/img/twitter.png" alt="Dharma Productions"></a>
    </li>
    <li>
      <a href=""><img src="frontend/img/google-mini.png"  alt="Dharma Productions"></a>
    </li>
    <li>
      <a href=""><img src="frontend/img/link-mini.png"  alt="Dharma Productions"></a>
    </li>
  </ul> -->
</div>
</div>
</div>
